* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: bisque;
  padding: 1rem;
}

main {
  display: flex;
  justify-content: space-between;
  padding-right: 5rem;
}

.recent {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 3rem;
}

.recent-heading {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1rem;
}

.recent-heading button {
  justify-self: flex-end;
  padding: 0.6rem;
  border-radius: 0.5rem;
  border: 0.3rem solid gray;
  cursor: pointer;
  font-size: 1rem;
}

.add-form button {
  height: 2.5rem;
  margin: 0.5rem 0.5rem 0.5rem 0;
  align-self: flex-end;
  border-radius: 0.5rem;
  cursor: pointer;
  padding: 0.5rem;
  font-size: 1rem;
}

.recent-heading button:hover,
.add-form button:hover {
  box-shadow: 3px 3px 3px 3px;
  filter: invert(100%);
}

table {
  border: 2px solid black;
  padding: 0;
}

tr {
  height: 2rem;
  font-size: 1.5rem;
}

tr:hover {
  box-shadow: 0 0 3px 4px;
}

td {
  padding: 0.4rem;
}

tr:nth-child(even) {
  background-color: rgba(128, 128, 128, 0.5);
}

.add {
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: 3rem;
}

.add-heading {
  margin-bottom: 1rem;
}

.add-form {
  display: flex;
  flex-direction: column;
}

.add-form input {
  height: 3rem;
  margin: 0.5rem 0.5rem 0.7rem 0;
  outline: none;
  padding: 0.7rem;
}

@media only screen and (min-width: 375px) and (max-width: 768px) {
  main {
    flex-direction: column-reverse;
    align-items: center;
  }

  .add,
  .recent {
    width: 70%;
  }
}
